.socialIcon {
  height: 100%;
  width: 100%;

  cursor: pointer;

  fill: var(--color-primary-grayish-blue);
  transition: all 0.3s ease-in;

  &:hover {
    fill: var(--color-primary-soft-red);
  }
}
